# Ignore LaTeX artifacts
docs/index.aux
docs/index.fdb_latexmk
docs/index.fls
docs/index.log
docs/index.pdf
docs/index.synctex.gz
docs/index.toc
docs/index.out

# Ignore PHP composer dependencies
vendor/

# Ignore PHP Unit Cache
.phpunit.result.cache

.DS_Store

# Ignore all environment files
*.env

# Ignore VERSION.txt
VERSION.txt
history.mp4
