/*
 * Page Layout
 */

::-webkit-scrollbar {
    width: 7px;
    background-color: #E0D8D1;
    border-top-right-radius: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #847F73;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background-color: #7C7972;
}

* {
    font-family: 'Caveat', cursive;
}

body {
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background-image: url('/public/assets/wood.png');
    background-repeat: repeat;
    background-color: #C3D0AB;
    font-family: 'Caveat', cursive;
    overflow: hidden;
}

.diary-wrapper {
    margin: 5vh auto 0 auto;
    width: auto;
    max-width: 500px;
    height: 90vh;
    max-height: 750px;
}

.diary-wrapper-inner {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.diary-wrapper-flex {
    width: 100%;
    height: 100%;
    display: flex;
}

.diary-container {
    flex-direction: row;
    flex: 1;
}

.diary-body {
    max-width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.diary-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.diary-content.table {
    display: table
}

.diary-side {
    padding-top: 2px;
    height: 100%;
    width: 32px;
    flex-direction: row;
    display: flex;
}

.diary-body {
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    background-image: url('/public/assets/leather.png');
    background-repeat: repeat;
    background-color: #CCC;
}

.diary-body.diary-open {
    margin-left: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    background-image: url('/public/assets/notebook.png');
}

.diary-sidepage {
    border-top-right-radius: 5px;
    flex-direction: row;
    width: 2px;
    height: 100%;
    background: #DEDEDE;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
}

.diary-sidecloser {
    flex-direction: row;
    height: 100%;
    width: 5px;
    margin-top: 27px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url('/public/assets/leather.png');
    background-repeat: repeat;
    background-color: #CCC;
}

.diary-sidepage:nth-child(1) { margin-top: 3px; }
.diary-sidepage:nth-child(2) { margin-top: 6px; }
.diary-sidepage:nth-child(3) { margin-top: 9px; }
.diary-sidepage:nth-child(4) { margin-top: 12px; }
.diary-sidepage:nth-child(5) { margin-top: 15px; }
.diary-sidepage:nth-child(6) { margin-top: 18px; }
.diary-sidepage:nth-child(7) { margin-top: 21px; }
.diary-sidepage:nth-child(8) { margin-top: 23px; }

.diary-bottom {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
}

.diary-bottom-pages {
    flex-direction: row;
    width: auto;
    height: 100%;
    flex: 1;
}

.diary-bottom-spacer {
    flex-direction: row;
    width: 40px;
    height: auto;
}

.diary-bottom-pages {
    padding-left: 15px;
}

.diary-bottompage {
    width: 100%;
    height: 2px;
    background: #DEDEDE;
    border-left: 10px solid #ECEBE4;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-bottom-left-radius: 5px;
}

.diary-bottompage:nth-child(1) { margin-left: 0px; }
.diary-bottompage:nth-child(2) { margin-left: 3px; }
.diary-bottompage:nth-child(3) { margin-left: 6px; }
.diary-bottompage:nth-child(4) { margin-left: 9px; }
.diary-bottompage:nth-child(5) { margin-left: 12px; }
.diary-bottompage:nth-child(6) { margin-left: 15px; }
.diary-bottompage:nth-child(7) { margin-left: 18px; }
.diary-bottompage:nth-child(8) { margin-left: 21px; }

.diary-bottomcloser {
    width: 100%;
    height: 5px;
    margin-left: 26px;
    padding-right: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url('/public/assets/leather.png');
    background-repeat: repeat;
    background-color: #CCC;
}

.git-version {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
    padding: 0 20px;
    color: white;
    font-family: initial;
    letter-spacing: 0.3px;
    white-space: nowrap;
}

/*
 * Authorization
 */

.diary-auth {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.diary-auth h1 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #A52A2A;
    font-size: 2em;
}

.diary-auth span {
    color: #A52A2A;
    font-size: 1.2em;
}

.diary-auth a {
    color: #800000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.diary-auth a:hover {
    color: #DC143C;
}

.diary-auth form {
    padding-top: 20px;
}

.diary-auth form input {
    border: 1px dotted #800000;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #000000 !important;
    font-size: 1.2em;
    border-radius: 4px;
}

.diary-auth form input:focus {
    border: 1px solid #A52A2A;
}

.diary-auth input[type="submit"] {
    border: 1px solid #A52A2A;
    transition: all 0.2s ease-in-out;
    color: #666 !important;
}

.diary-auth input[type="submit"]:hover,
.diary-auth input[type="submit"]:focus {
    background: #A52A2A !important;
    color: #FFF !important;
    cursor: pointer;
}

/**
 * User Interface
 */

.diary-logged-in {
    width: 100%;
    padding: 20px 20px 7px 20px;
    box-sizing: border-box;
    display: flex;   
}

.diary-username {
    flex-direction: row;
    flex: 1;
    text-align: left;
}

.diary-username h2 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    color: #A52A2A;
}

.diary-logout {
    flex-direction: row;
    text-align: right;
}

.diary-logout input {
    margin: 0;
    padding: 10px;
    background: none !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 1.3em;
    color: #A52A2A;
}

.diary-logout input:hover,
.diary-logout input:focus {
    display: inline-block;
    cursor: pointer;
    border-left: 1px dotted #A52A2A !important;
    border-radius: 50%;
}

/**
 * Home page
 */
.diary-empty {
    margin: 17px 0 0 0 !important;
    padding: 0;
    text-align: center;
}

.diary-create {
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: right;
}

.diary-create a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.3em;
    color: #A52A2A;
    text-decoration: none;
}

.diary-create a:hover {
    cursor: pointer;
    border-left: 1px dotted #A52A2A !important;
    border-radius: 50%;
}

.diary-entries {
    padding: 4px 20px 10px 20px;
}

.diary-entries h4 ,
.diary-entries p {
    line-height: 27px;
    clear: right;
    margin-bottom: 54px;
}

.diary-entries p img {
    margin-left: 10px;
    max-width: 30%;
    float: right;
    transform: rotate(5deg);
    border: 2px solid brown;
}

.diary-entries h4 {
    margin-bottom: 0;
}

.diary-entries form:not(.deactivate-filter) {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.diary-entries .deactivate-filter {
    width: 100%;
    background-color: orange;
    color: black;
}

.diary-category {
    font-weight: normal;
    display: inline-block;
    padding-left: 20px;
    color: #666;
}

.error {
    font-weight: bold;
    color: #DC143C;
    min-height: 20px;
}

/*
 * Call to action buttons
 */
.diary-auth a.call-to-action,
.call-to-action {
    background-color: #800000;
    box-shadow: 3px 3px 0px #570303;
    border-radius: 30px;
    padding: 0 30px;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.diary-auth a.call-to-action:hover,
.call-to-action:hover {
    background-color: #570303;
    box-shadow: 3px 3px 0px #800000;
    border-radius: 30px;
    padding: 0 30px;
    color: white;
}