/*
 * Page Layout
 */

::-webkit-scrollbar {
    width: 7px;
    background-color: #E0D8D1;
    border-top-right-radius: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #847F73;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 5px;
    background-color: #7C7972;
}

* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background-image: url('/public/assets/wood.png');
    background-repeat: repeat;
    background-color: #C3D0AB;
    overflow: hidden;
}

.diary-wrapper {
    margin: 5vh auto 0 auto;
    width: auto;
    max-width: 500px;
    height: 90vh;
    max-height: 750px;
}

.diary-wrapper-inner {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.diary-wrapper-flex {
    width: 100%;
    height: 100%;
    display: flex;
}

.diary-container {
    flex-direction: row;
    flex: 1;
}

.diary-body {
    max-width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    position: relative;
}

.diary-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.diary-content.table {
    display: table
}

.diary-side {
    padding-top: 2px;
    height: 100%;
    width: 32px;
    flex-direction: row;
    display: flex;
}

.diary-body {
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    background-image: url('/public/assets/leather.jpg');
    background-repeat: repeat;
    background-color: #873600;
}

.diary-open .diary-body {
    margin-left: 12px;
    border-left: 12px solid #873600;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    background-image: url('/public/assets/notebook.png');
}

.diary-sidepage {
    border-top-right-radius: 5px;
    flex-direction: row;
    width: 2px;
    height: 100%;
    background: #DEDEDE;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
}

.diary-sidecloser {
    flex-direction: row;
    height: 100%;
    width: 5px;
    margin-top: 27px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url('/public/assets/leather.jpg');
    background-repeat: repeat;
    background-color: #873600;
}

.diary-sidepage:nth-child(1) { margin-top: 3px; }
.diary-sidepage:nth-child(2) { margin-top: 6px; }
.diary-sidepage:nth-child(3) { margin-top: 9px; }
.diary-sidepage:nth-child(4) { margin-top: 12px; }
.diary-sidepage:nth-child(5) { margin-top: 15px; }
.diary-sidepage:nth-child(6) { margin-top: 18px; }
.diary-sidepage:nth-child(7) { margin-top: 21px; }
.diary-sidepage:nth-child(8) { margin-top: 23px; }

.diary-bottom {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
}

.diary-bottom-pages {
    flex-direction: row;
    width: auto;
    height: 100%;
    flex: 1;
}

.diary-bottom-spacer {
    flex-direction: row;
    width: 40px;
    height: auto;
}

.diary-bottom-pages {
    padding-left: 15px;
}

.diary-bottompage {
    width: 100%;
    height: 3px;
    background: #DEDEDE;
    border-left: 10px solid #813600;
    border-right: 1px solid #999;
    border-bottom: none;
    border-bottom-left-radius: 3px;
}

.diary-bottompage:nth-child(1) { margin-left: 0px; }
.diary-bottompage:nth-child(2) { margin-left: 3px; }
.diary-bottompage:nth-child(3) { margin-left: 6px; }
.diary-bottompage:nth-child(4) { margin-left: 9px; }
.diary-bottompage:nth-child(5) { margin-left: 12px; }
.diary-bottompage:nth-child(6) { margin-left: 15px; }
.diary-bottompage:nth-child(7) { margin-left: 18px; }
.diary-bottompage:nth-child(8) { margin-left: 21px; }

.diary-bottompage div {
    width: 100%;
    width: calc(100% - 2px);
    height: 1px;
    background: #999;
}

.diary-bottomcloser {
    width: 100%;
    height: 5px;
    margin-left: 26px;
    padding-right: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url('/public/assets/leather.jpg');
    background-repeat: repeat;
    background-color: #873600;
}

.git-version {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 6px;
    padding: 0 20px;
    color: white;
    font-family: initial;
    letter-spacing: 0.3px;
    white-space: nowrap;
}

/*
 * Authorization
 */

.diary-auth {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.diary-auth h1 {
    margin-top: 0;
    margin-bottom: 25px;
    color: #D19F72;
    font-size: 2.8em;
    text-shadow: 2px 2px 3px #873600;
    font-family: 'Caveat', cursive;
}

.diary-auth span {
    color: #EEE;
    font-size: 1.2em;
}

.diary-auth a {
    color: #B7950B;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.diary-auth a:hover {
    color: #FFF;
}

.diary-auth form {
    padding-top: 40px;
}

.diary-auth form input {
    width: 40%;
    border: 1px dotted #E59866;
    background: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 20px;
    padding: 7px 10px;
    text-align: center;
    color: #FFF !important;
    font-size: 1em;
    border-radius: 4px;
    box-sizing: border-box;
}

.diary-auth form input::placeholder {
    color: #D19F72;
}

.diary-auth form input:focus {
    border: 1px solid #B7950B;
}

.diary-auth input[type="submit"] {
    border: 1px solid #B7950B;
    transition: all 0.2s ease-in-out;
    font-size: 0.8em;
    color: #FFF !important;
}

.diary-auth input[type="submit"]:hover,
.diary-auth input[type="submit"]:focus {
    background: #B7950B !important;
    color: #FFF !important;
    cursor: pointer;
}

/**
 * User Interface
 */

.diary-logged-in {
    width: 100%;
    padding: 20px 20px 7px 20px;
    box-sizing: border-box;
    display: flex;   
}

.diary-username {
    flex-direction: row;
    flex: 1;
    text-align: left;
}

.diary-username h2 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    color: #A52A2A;
    font-family: 'Caveat', cursive;
}

.diary-logout {
    flex-direction: row;
    text-align: right;
}

.diary-logout input {
    border: none;
}

.diary-logout input:hover {
    cursor: pointer;
}

/**
 * Home page
 */
.entry-list,
.entry-list * {
    font-family: 'Caveat', cursive;
    font-size: 1.12em;
}

.diary-empty {
    margin: 30px 0 0 0 !important;
    padding: 0;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.4em;
    color: #873600;
}

.diary-create {
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: right;
    margin-top: -34px;
}

.diary-create a {
    text-decoration: none;
}

.diary-entries {
    padding: 4px 20px 10px 20px;
}

.diary-entries h4 ,
.diary-entries p {
    line-height: 27px;
    clear: right;
    margin-bottom: 54px;
}

.diary-entries p img {
    margin-left: 10px;
    max-width: 30%;
    float: right;
    transform: rotate(2deg);
    transition: transform 0.3s ease-in-out;
    border: 2px solid brown;
}

.diary-entries p img:hover {
    transform: rotate(-5deg) scale(1.1);
    cursor: pointer;
}

.diary-entries h4 {
    margin-bottom: 0;
}

.diary-filter .filter-row {
    width: 100%;
    display: flex;
    padding-bottom: 5px;
}

.diary-filter .filter-col {
    flex-direction: row;
    width: 40%;
}

.diary-filter .filter-col:last-of-type {
    width: 60%;
    text-align: right;
}

.diary-filter {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-top: 2px dotted #D19F72;
    border-bottom: 2px dotted #D19F72;
}

.deactivate-filter {
    text-align: right;
}

.deactivate-filter input {
    border: none;
}

.deactivate-filter input:hover {
    cursor: pointer;
}

.diary-category {
    font-weight: normal;
    display: inline-block;
    padding-left: 20px;
    color: #666;
}

.error {
    padding-top: 15px;
    font-size: 1.4em;
    color: #F2D7D5;
    min-height: 20px;
    font-family: 'Caveat', cursive;
    text-align: center;
}

.error.dark {
    margin-top: 0;
    padding-top: 0;
    color: red;
}

/*
 * Call to action buttons
 */
.diary-auth a.call-to-action,
.call-to-action {
    background-color: #800000;
    box-shadow: 2px 2px 0px #570303;
    border-radius: 30px;
    padding: 4px 30px;
    color: white;
    transition: box-shadow 0.2s ease-in-out;
    font-size: 0.8em;
}

.diary-auth a.call-to-action:hover,
.call-to-action:hover {
    background-color: #800000;
    box-shadow: inset 2px 2px 0px #570303;
}

input.call-to-action {
    border: none;
}

a.call-to-action {
    text-decoration: none;
}

input.call-to-action:hover {
    cursor: pointer;
}

.create-title {
    margin: 0;
    padding: 20px 0 0 20px;
    font-family: 'Caveat', cursive;
    color: #A52A2A;
}

.create-back {
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-top: -30px;
}

.create-form {
    padding: 20px;
}

.create-row {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
}

.create-col {
    flex-direction: row;
    width: 30%;
}

.create-col:last-of-type {
    width: 70%;
}

.create-col input,
.create-col select {
    width: 100%;
}

.create-col textarea {
    width: 100%;
    min-height: 200px;
    resize: vertical;
    background: none;
    font-family: 'Caveat', cursive;
    font-size: 1.26em;
    border: 1px dotted #B7950B;
    transition: border 0.2s ease-in-out;
    outline: none;
    box-shadow: none;
}

.create-col textarea:hover,
.create-col textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #B7950B;
}


/* Special open cover on desktop */
.diary-open-cover {
    display: none;
}

@media screen and (min-width: 1400px) {
    .diary-open .diary-container {
        position: relative;
    }
    
    .diary-open .diary-container .diary-open-cover {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        margin-top: 1px;
        margin-left: -96%;
        margin-left: calc( -100% + 16px );
        transform: rotateY(180deg);
    }

    .diary-open-cover.animate {
        animation-name: openbook;
        animation-duration: 2s;
    }

    .diary-open .diary-open-cover::after {
        content: ' ';
        clear: both;
    }

    .diary-open .diary-open-cover-side {
        display: block;
        width: 50%;
        height: 100%;
        float: left;
    }

    .diary-open-cover-side.covered {
        background-image: url('/public/assets/leather.jpg');
        background-repeat: repeat;
        background-color: #873600;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .diary-open .diary-body {
        z-index: 50;
    }

    @keyframes openbook {
        0% {
            transform: rotateY(0deg);
            z-index: 100;
        }

        99% {
            transform: rotateY(180deg);
            z-index: 100;
        }

        100% {
            transform: rotateY(180deg);
            z-index: 0;
        }
      }
}
